######################################################################
# Build Tools

.gradle
front/build/
front/node_modules/
frontandback/node_modules/
backandfront/node_modules/
!gradle/wrapper/gradle-wrapper.jar

back/target/
backandfront/target/
frontandback/target/
db/
doc/
!.mvn/wrapper/maven-wrapper.jar

back/out/
backandfront/out/
frontandback/out/

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
back/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp
*.bat
*.sql
db/
entity/
back/src/main/java/com/entity/
back/src/main/java/com/db/
back/src/main/resources/*.yml
back/src/main/resources/*.properties
back/src/main/resources/application-*.yml
back/src/main/resources/application-*.properties
backandfront/src/main/java/com/entity/
backandfront/src/main/java/com/db/
backandfront/src/main/resources/*.yml
backandfront/src/main/resources/*.properties
backandfront/src/main/resources/application-*.yml
backandfront/src/main/resources/application-*.properties
backandfront/log/
backandfront/logs/
frontandback/src/main/java/com/entity/
frontandback/src/main/java/com/db/
frontandback/src/main/resources/*.yml
frontandback/src/main/resources/*.properties
frontandback/src/main/resources/application-*.yml
frontandback/src/main/resources/application-*.properties
frontandback/log/
frontandback/logs/
mapper/
*.xml
pojo/
doc/
*.doc
*.docx
video/
redis/
tool/
tools/
*.bak

!*/build/*.java
!*/build/*.html
!*/build/*.xml